<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuriikonovalov.shared_test">

    <application android:theme="@style/Theme.BudgetHub">
        <activity
            android:name=".HiltTestActivity"
            android:exported="false" />
    </application>

</manifest>
